<!DOCTYPE html>
<html>
<head>
<title>Bob Hall</title>
</head>
  <body>

  {% load static %}
  <img src="/static/images/admiralty.jpg" alt="My image" />

  <ul style="list-style-type:disc">
<!--    <li><a href="/ferries">WA State Ferry Obs Visualization</a></li> -->
    <li><a href="http://maps.hallr.webfactional.com/html5/ajax_canvas.php">WA State Ferry Obs Visualization</a></li>
    <li><a href="/pugetsoundwind">Wind Obs</a></li>
    <li><a href="https://github.com/bobhall/">Github</a></li>
    <li><a href="https://github.com/bobhall/puget-sound-wind-android-app">Wind Obs (Android)</a></li>
  </ul>

  </body>
</html>
