<!DOCTYPE html>
<html>
<head>
<title>Bob Hall</title>
<style>
a {
  text-decoration: none;
}
</style>

</head>
  <body>

  {% load static %}
  <img src="/static/images/admiralty.jpg" alt="My image" />

  <h3>Projects</h3>
  <ul style="list-style-type:disc">
    <li><a href="/pugetsoundwind/">Wind Obs</a> <a href="/about/pugetsoundwind/"></li>
  </ul>

  <h3>Links</h3>
  <ul style="list-style-type:disc">
    <li><a href="https://github.com/bobhall/">Github</a></li>
    <li><a href="/static/docs/Resume.pdf">Resume</a></li>
  </ul>

  </body>
</html>
